<p>Hi and welcome to Randy's site. You have successfully registered your account</p>
<% # TODO: this is also defined in index.html.erb %>
<%= link_to "Continue", say_hello_path %>
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
